body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main_container {
  width: 300px;
  height: 600px;
  background-color: #000000;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 600px;
}

.retina {
  /*    for display on retina screens images created @2x actual dimensions then scaled back by 50%.
  images are scaled from top left, which effects css when wanting to use other alignment
  e.g. bottom:0; right:0; also requires transform-origin:bottom right;
  02/2016 webkit browsers:
  images including their containers must be block or inline-block.
  if css display:none or display:inline then transforms fail.
  */
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;

  /* image-rendering: auto; */
  /*image-rendering: crisp-edges;*/
}

.hidden {
  visibility: hidden;
}

#cta_div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
}

#default_exit {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
  cursor: pointer;
}

.btn {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  z-index: 200;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

.canvasImage {
  width: 300px;
  height: 600px;
}

@font-face {
  font-family: "EMBold";
  src: url("./subset-EMprint-Bold.woff");
}
#logo{
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 183px;
}
#person2 {
  width: 350px;
  left: -25px;
  height: auto;
}

#person3 {
  width: 300px;
  height: auto;
}

.textContainer {
  top: 35px;
  width: 300px;
  height: 128px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer > * {
  position: relative;
  text-align: center;
  font-family: "EMBold";
  font-size: 27px;
  color: #0c479d;
  overflow: visible;
}

#cta {
  font-family: "EMBold";
  color: #fff;
  margin-top: 18px;
  font-size: 18px;
  letter-spacing: -0.005em;
  padding: 8px 36px 8px 22px;
  border-radius: 28px;
  background: #fe000c;
  top: 143.5px;
  left: 93px;
}

#cta img {
  height: 14px;
  width: auto;
  margin-left: 5px;
  margin-top: 4px;
}
